/*Mixins*/

@mixin top-bttm-padding{
  padding-top:3%;
  padding-bottom:3%;
}

@mixin sm-side-padding{
  padding-left:4%;
  padding-right:4%;
}


@mixin lg-side-padding{
  padding-left:10%;
  padding-right:10%;
}

@mixin border-radius{
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
    -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;

}

@mixin blockTitle{
    font-family: 'semiBold';
    padding:$title-padding;
    font-size:2.3em;
}

@mixin font-face($font-type){
  @font-face {
    font-family: '#{$font-type}';
    src: url('./../font/Raleway-#{$font-type}.ttf')  format('truetype');
  }
}