/*reset*/
*{
    margin:0;
    padding:0;
}

*,
*::after,
*::before{
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
    font-size:62.5%; //1rem = 10px (10px/16px = 62.5)
}


body {
  font: 100% $font-stack;
  color: $primary-font-color;
}

