@import '_variables';
@import '_reset';
@import '_mixins';
@import '_screens';
@import '_hamburger';

body{
    color:#000;
    
}

////
.header{
    background:#000;
}

/////
.nav{
    background:#000;
    padding:1em;
    margin:0 auto;
    

    @include sm{
        max-width:90em;
    }

    &__logo{
        color:#fff;
        font-weight:bold;
        font-size:2em;
    }

    &__is-active{
        display:inline-block;
        position:absolute;
        background: rgba(0, 0, 0, 0.8);
        padding:3px 0;
        top:20px;
        width:100%;
        right:80px;
        height:inherit;

          @media (max-width: 768px) {
                font-size:0.9em;

          }

          @media (max-width: 467px) {
                font-size:0.7em;

          }
    }
}

.nav-item a{
    font-size: 2.2em;
}

////
.content{
    margin:8em auto auto;
    max-width:90em;
    padding:1em;

    &__wrapper{

        background:#eee;
        margin-bottom:1em; 

          @include lg{
              max-width:20em;
          }  

          img{
                border:2px #000;
                width:100%;
          }
    }

    &__cat-title{
        margin:0 0 1em 0;
        background: #eee;
        padding:0 1em;

        h1{
            padding:.2em;
            font-weight:bold;
        }
    }

    &__comic-title{
        margin:1em 0 2em;
    }
}

.carousel-inner {
          max-height: 400px;
}

.carousel-inner >img {
          width:500px
}

.home{

    &__product-feature{
        
    }
}

.character, .comic{

    &__wrapper{
        background: #eee;
    }

    img{
        width:50%;
    }

    p{
        font-size:$desc-text;
    }
}

.prices{
    font-size:1.2em;
    font-weight:bold;
}

.footer{
    border-top:5px solid #f0141e
}